{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
    <h1>Documents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Envoyé par</th>
                <th>Destinataire</th>
                <th>Date d'envoi</th>
                <th>Apperçu</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.employe.prenom|capitalize ~ " " ~ document.employe.nom|capitalize }}</td>
                <td>{{ document.destinataire.prenom|capitalize ~ " " ~ document.destinataire.nom|capitalize }}</td>
                <td>{{ document.dateEnvoi ? document.dateEnvoi|date('Y-m-d') : '' }}</td>
                <td><img src="/images/documents/{{ document.name }}" alt="" style="width:75px"></td>
                <td>{{ document.type|capitalize }}</td>
                <td>
                    <a href="{{ path('documents_show', {'id': document.id}) }}">show</a>
                    <a href="{{ path('documents_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('documents_new') }}">Create new</a>
{% endblock %}
