{% extends 'base.html.twig' %}

{% block title %}Documents index{% endblock %}

{% block body %}
    <h1>Documents index</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Envoyé par</th>
                <th>Destinataire</th>
                <th>Date d'envoi</th>
                <th>Aperçu</th>
                <th>Type</th>
                <th>Voir plus</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.employe.prenom|capitalize ~ " " ~ document.employe.nom|capitalize }}</td>
                <td>{{ document.destinataire.prenom|capitalize ~ " " ~ document.destinataire.nom|capitalize }}</td>
                <td>{{ document.dateEnvoi ? document.dateEnvoi|date('Y-m-d') : '' }}</td>
                <td><img src="/images/documents/{{ document.name }}" alt="" style="width:35px"></td>
                <td>{{ document.type|capitalize }}</td>
                <td>
                    <a href="{{ path('documents_show', {'id': document.id}) }}" class='colorIcon'><i class="fa fa-eye"></a>
                </td>
                <td>
                    <a href="{{ path('documents_edit', {'id': document.id}) }}" class='colorIcon'><i class="fa fa-edit"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun document à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('documents_new') }}" class="btn rounded-pill btn-bleu">Créer nouveau</a>
{% endblock %}
