{% extends 'base.html.twig' %}

{% block title %}Détails du document{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6  p-0 bodyindex">
    <h1>Documents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Date_envoi</th>
                <td>{{ document.dateEnvoi ? document.dateEnvoi|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ document.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ document.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('documents_profil') }}">back to list</a>

    <a href="{{ path('documents_edit', {'id': document.id}) }}">edit</a>

    {{ include('documents/_delete_form.html.twig') }}</div>
{% endblock %}
