{% extends 'base.html.twig' %}

{% block title %}Profil Index
{% endblock %}


{% block body %}

		<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6  p-0 bodyindex">
		<div class="row">
			<div class="col-md-4 p-0 col-lg-4 p-2">
				<div class="card">
					<div class="flexCard">
						<div class="centrerImgProfil">
							<img class="card-img-top imgVignetteProfil" src="/images/photo_profil/{{ app.user.photo }}" alt="pas d'image">
						</div>
						<div class="card-body hauteurcard">
							<h5 class="card-title">{{ app.user.prenom|capitalize }}
								{{ app.user.nom|capitalize }}</h5>
							<p>Bienvenu(e) sur votre dashboard</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('employe_edit', {id: app.user.id}) }}" class="btn btn-primary rounded-pill float-right">Modifier</a>
					</div>
				</div>
			</div>

			<div class="col-md-8 p-0 col-lg-8 p-2">
				<div class="card">
					<div class="flexCard">

						<img class="card-img-top d-none d-md-block imgVignette" src="/images/images_front/absenceimg.jpg" alt="image ordinateur absence">
						<div class="card-body hauteurcard">
							<h5 class="card-title">Mes absences</h5>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
										</tr>
									</thead>
									<tbody>
										{% for absence in app.user.absences %}
											<tr>
												<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
												<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
												<td {{ absence.statut == 'En attente' ? "class='table-danger'" : '' }}>{{ absence.statut }}</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="3">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{{ (app.user.nbConges|number_format > 0 ? 'Il vous reste <strong>' ~ app.user.nbConges ~ ' jours </strong> de congés à poser.' : 'Vous n\'avez plus de jours à poser.')|raw }}
							</p>
						</div>
						
					</div>
					<div class="card-footer cardFooter">
					<a href="{{ path('absences_new') }}" class="btn btn-primary rounded-pill float-right">Signaler une absence</a>
					
					</div>
				</div>
			</div>

			<div class="col-md-12 p-0 col-lg-12 p-2">
				<div class="card">
					<div class="flexCard">
						<div class="centrerImgProfil">
							<img src="/images/images_front/documentsimg.jpg" alt="pas d'image" class="card-img-top d-none d-md-block imgVignette">
						</div>
		
						<div class="card-body hauteurcard">
							<h5 class="card-title">Mes documents</h5>
							<table class="table">
								<thead>
									<tr>
										<th>Envoyé le</th>
										<th>à</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
		
									{% for i, document in app.user.documents %}
										{% if i >= app.user.documents|length - 2 %}
											{# Si i, est supérieur ou égale à ( (la longeur du tableau) - 2), on affiche les données des index correspondants #}
											<tr>
												<td>{{ document.dateEnvoi|date('d-m-Y') }}</td>
												<td>{{ document.destinataire.nom|capitalize ~ " " ~ document.destinataire.prenom|capitalize }}</td>
												<td>{{ document.type }}</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('documents_new', {id: app.user.id}) }}" class="btn btn-primary rounded-pill float-right">Partager un document</a>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
