{% extends 'base.html.twig' %}

{% block title %}Profil Index
{% endblock %}

{% block body %}
	<h2>Bonjour
		{{ app.user.prenom }}
		!</h2>

	<div class="card-deck">
		<div class="card" style="width: 18rem;">
			<div class="flexCard">
				<div class="centrerImgProfil"><img class="card-img-top imgVignetteProfil" src="/images/photo_profil/{{ app.user.photo }}" alt="pas d'image"></div>
				<div class="card-body cardBody">
					<h5 class="card-title">{{ app.user.prenom|capitalize }}
						{{ app.user.nom|capitalize }}</h5>
						<p>Bienvenu(e) sur votre dashboard</p>
				</div>
			</div>
			<div class="card-footer cardFooter" style="height:65px;">
				<a href="{{ path('employe_edit', {id: app.user.id}) }}" class="btn btn-primary btn-rounded align-self-end float-right">Modifier</a> 
			</div>
		</div>
		<div class="card" style="width: 18rem;">
			<div class="flexCard">
				<div class="centrerImgProfil"><img class="card-img-top imgVignette" src="images/images_front/absenceimg.jpg" alt="pas d'image"></div>
				<div class="card-body cardBody">
					<h5 class="card-title">Mes absences</h5>
					<p>
						{{ app.user.nbConges|number_format > 0 ? 'Il vous reste ' ~ app.user.nbConges ~ ' jours de congés à poser.' : 'Vous n\'avez plus de jours à poser.' }}
					</p>
				</div>
			</div>
			<div class="card-footer cardFooter" style="height:65px;">
				<a href="{{ path('employe_edit', {id: app.user.id}) }}" class="btn btn-primary btn-rounded align-self-end float-right">Ajoutez</a>
			</div>
		</div>

		<div class="card" style="width: 18rem;">
			<div class="flexCard">
				<div class="centrerImgProfil"><img class="card-img-top imgVignette" src="images/images_front/documentsimg.jpg" alt="pas d'image"></div>
				<div class="card-body cardBody">
					<h5 class="card-title">Mes documents</h5>
					<p>Partagez vos documents</p>
				</div>
			</div>
			<div class="card-footer cardFooter" style="height:65px;">
				<p href="{{ path('employe_edit', {id: app.user.id}) }}" class="btn btn-primary btn-rounded align-self-end float-right">Partagez</p>
			</p>
		</a>
	</div>
</div></div>{% endblock %}
