<div class="header row">

	<div class="col-3 m-0 p-0 flex-nowrap">
		<i class="fas fa-bars mx-4" id="burgerclick"></i>
		<a class="navbar-brand" href="{{ path('profil_index') }}"><img src="/images/images_front/logosclair.png" alt="rrr" style="width:60px;"></a>
	</div>
	{# <div class="col-1">
		<a class="navbar-brand" href="{{ path('profil_index') }}"><img src="images/images_front/logosclair.png" alt="rrr" style="width:50px;"></a>
	</div> #}

	<div class="row justify-content-end col-8">
		<div class="col-3 pl-2 mt-2">
			{% if app.user %}
				<a class="dropdown text-decoration-none" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="d-inline-flex align-items-center text-white">
						{% if app.user.photo == "female" %}
							<img src="/images/photo_profil_default/female.PNG" alt="" class="rounded-circle photoMenu"> 
						{% elseif app.user.photo == "male" %}
							<img src="/images/photo_profil_default/male.PNG" alt="" class="rounded-circle photoMenu"> 
						{% else %}
							<img src="/images/photo_profil/{{ app.user.photo }}" alt="" class="rounded-circle photoMenu"> 
						{% endif %}
						<span class="affichagenommenu">{{ app.user.prenom|capitalize ~ ' ' ~ app.user.nom|capitalize}}</span>
					</div>
				</a>
				<div class="dropdown-menu my-2 my-lg-0" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('employe_edit', {id: app.user.id}) }}"><i class="fa fa-cog"></i>
							Préférences
						</a>
						<a class="dropdown-item" href="{{ path('app_logout') }}">
							<i class="fa fa-sign-out-alt"></i>
							Déconnexion
						</a>
				</div>
			{% endif %}
		</div> 
	</div>

</div>
