<div class="menuGauche">
	<div class="col-2 mr-3 p-1 blockMenu">
		<div class="iconMenu">
			<a href="{{ path('profil_index') }}">
				<i class="fas fa-home istylehome"></i>
				<span class="istyle">Accueil</span>
			</a>


			{% if app.user %}
				{% else %}


					<a href="{{ path('app_login') }}">
						<i class="fa fa-sign-in-alt"></i>
						<span class="istyle">Connexion</span>
					</a>


					<a href="{{ path('app_register') }}">
						<i class="fas fa-user-plus"></i>
						<span class="istyle">Inscription</span>
					</a>


			{% endif %}
			{% if is_granted('ROLE_RH') %}


				<a href="{{ path('employe_index') }}">
					<i class="fa fa-list"></i>
					<span class="istyle">Liste employé</span>
				</a>


				<a href="{{ path('employe_new') }}">
					<i class="fas fa-user-plus"></i>
					<span class="istyle">Ajouter un employé</span>
				</a>


			{% endif %}


			<a href="{{ path('absences_index') }}">
				<i class="fa fa-book"></i>
				<span class="istyle">Liste absences</span>
			</a>


			<a href="{{ path('absences_new') }}"></a>
			<i class="fa fa-plus-circle"></i>
			<span class="istyle">Ajouter une absence</span>
		</a>


		<a href="{{ path('documents_profil') }}">
			<i class="far fa-file-alt"></i>
			<strong>
				<span class="istyle">Liste documents</span>
			</strong>
		</a>


		<a href="{{ path('documents_new') }}">
			<i class="fas fa-folder-plus"></i>
			<span class="istyle">Ajouter un document</span>
		</a>


	</div>
</div></div>
