<div class="menuGauche full-height">
<div class="col-2 mr-3 p-1 blockMenu full-height">
		<div class="iconMenu full-height">
			<p class="m-0">
				<a href="{{ path('profil_index') }}">
					<i class="fas fa-home istylehome fa-lg"></i>
					<span class="istyle">
						<b>Accueil</b>
					</span>
				</a>
			</p>
			{% if app.user %}
			{% else %}
				<p class="m-0">
					<a href="{{ path('app_login') }}">
						<i class="fa fa-sign-in-alt"></i>
						<span class="istyle">
							<b>Connexion</b>
						</span>
					</a>
				</p>
			{% endif %}


			{#############################################################################################}
						{###################### ROLE ADMIN ######################}
			{#############################################################################################}

			{% if (app.user.roles[0] == 'ROLE_ADMIN') %}

				<p class="m-0">
					<a href="{{ path('employe_index') }}">
						<i class="fa fa-users fa-lg"></i>
						<span class="istyle">
							<b>Employé</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Liste des employés</a href="#">
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('employe_new') }}">Ajouter un employé</a>
					</p>
				</span>


				<a href="{{ path('absences_index') }}">
					<i class="fa fa-calendar-alt fa-lg"></i>
					<span class="istyle">
						<b>Absences</b>
					</span>
				</a>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Liste des absences</a>
					</p>
				</span>

				<p class="m-0">
					<a href="{{ path('documents_index') }}">
						<i class="fas fa-file-alt fa-lg"></i>
						<span class="istyle">
							<b>Documents</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_envoyes') }}">Mes documents envoyés</ahref="#">
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_recus') }}">Mes documents reçus</a>
					</p>
				</span>

			{% endif %}

			{#############################################################################################}
						{###################### ROLE RH ######################}
			{#############################################################################################}

			{% if (app.user.roles[0] == 'ROLE_RH') %}

				<p class="m-0">
					<a href="{{ path('employe_index') }}">
						<i class="fa fa-users fa-lg"></i>
						<span class="istyle">
							<b>Employé</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Liste des employés</a href="#">
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('employe_new') }}">Ajouter un employé</a>
					</p>
				</span>


				<a href="{{ path('absences_index') }}">
					<i class="fa fa-calendar-alt fa-lg"></i>
					<span class="istyle">
						<b>Absences</b>
					</span>
				</a>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Liste des absences</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Absences à valider</a>
					</p>
				</span>


				<p class="m-0">
					<a href="{{ path('documents_index') }}">
						<i class="fas fa-file-alt fa-lg"></i>
						<span class="istyle">
							<b>Documents</b>
						</span>
					</a>
				</p class="m-0">
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_recus') }}">Mes documents reçus</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_envoyes') }}">Mes documents envoyés</a>
					</p>
				</span>

			{% endif %}

			{#############################################################################################}
						{###################### ROLE MANAGER ######################}
			{#############################################################################################}

			{% if (app.user.roles[0] == 'ROLE_MANAGER') %}

				<p class="m-0">
					<a href="#">
						<i class="fa fa-users fa-lg"></i>
						<span class="istyle">
							<b>Mon Service</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Mes employés</a href="#">
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Absences du service</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Absences à valider</a>
					</p>
				</span>


				<p class="m-0">
					<a href="{{ path('absences_index') }}">
						<i class="fa fa-calendar-alt fa-lg"></i>
						<span class="istyle">
							<b>Mes Absences</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="#">Liste</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('absences_new') }}">Signaler une absence</a>
					</p>
				</span>

				<p class="m-0">
					<a href="{{ path('documents_index') }}">
						<i class="fas fa-file-alt fa-lg"></i>
						<span class="istyle">
							<b>Mes Documents</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_index') }}">Mes documents reçus</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_envoyes') }}">Mes documents envoyés</a>
					</p>
				</span>
			{% endif %}

			{#############################################################################################}
						{###################### ROLE EMPLOYE ######################}
			{#############################################################################################}

			{% if (app.user.roles[0] == 'ROLE_EMPLOYE') %}
				<p class="m-0">
					<a href="{{ path('absences_index') }}">
						<i class="fa fa-calendar-alt fa-lg"></i>
						<span class="istyle">
							<b>Mes Absences</b>
						</span>
					</a>
				</p>
				<span class="istyle">
					<p class="m-0">
						<a href="{{ path('absences_index') }}">
							<i class="fas fa-angle-right"></i>
							Liste</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('employe_absences_new') }}">Signaler une absence</a>
					</p>
				</span>

				<p class="m-0">
					<a href="{{ path('documents_index') }}">
						<i class="fas fa-file-alt fa-lg"></i>
						<span class="istyle">
							<b>Mes Documents</b>
						</span>
					</a>
				</p class="m-0">
				<span class="istyle">
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_recus') }}">Mes documents reçus</a>
					</p>
					<p class="m-0">
						<i class="fas fa-angle-right"></i>
						<a href="{{ path('documents_envoyes') }}">Mes documents envoyés</a>
					</p>
				</span>

			{% endif %}
		</div>
	</div>
</div>
