{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <div>
        <button class="btn bgc-pink rounded-pill float-right">{{ button_label|default('Enregistrer') }}</button>       
    </div>
    
=======
    <button class="btn bgc-pink rounded-pill float-right">{{ button_label|default('Enregistrer') }}</button>
>>>>>>> groupe1
{{ form_end(form) }}
