{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <h1>Fiche employé</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>
                    {% set text = "" %}
                        {% for role in employe.roles %}
                            {% if role == "ROLE_ADMIN"%}
                                {% set text = text ~ (text ? "," : "")~ "Administrateur" %}
                            {% elseif role == "ROLE_MANAGER" %}
                                {% set text = text ~ (text ? "," : "")~ "Manager" %}
                            {% elseif role == "ROLE_RH" %}
                                {% set text = text ~ (text ? "," : "")~ "RH" %}
                            {% elseif role == "ROLE_EMPLOYE" %}
                                {% set text = text ~ (text ? "," : "")~ "Employé" %}
                            {% endif %}
                        {% endfor %}
                        {{ text }}
                </t>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ employe.service }}</td>
            </tr>
            <tr>
                <th>Solde de congés</th>
                <td>{{ employe.nbConges }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ employe.sexe }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>
                    {% if employe.photo == "female" %}
                    <img src="/images/photo_profil_default/female.PNG" alt="" style="width:50px">
                    {% elseif employe.photo == "male" %}
                    <img src="/images/photo_profil_default/male.PNG" alt="" style="width:50px">
                    {% else %}
                    <img src="/images/photo_profil/{{employe.photo}}" alt="" style="width:50px">
                    {% endif %}
                    
                    
                </td>
            </tr>
        </tbody>
    </table>

    <div><a href="{{ path('employe_index') }}" class="link">Retour à la liste</a></div>

    <div><a href="{{ path('employe_edit', {'id': employe.id}) }}" class="link">Modifier</a></div>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
