{% extends 'base.html.twig' %}

{% block title %}Dashboard Absences
{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6 p-0 bodyindex">
	{% if (app.user.roles[0] == 'ROLE_ADMIN') %}
		<div class="row">
			{# Première vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-3">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Mes absences
							</h6>
							<p>
								{{ (app.user.nbConges|number_format > 0 ? 'Il vous reste <strong>' ~ app.user.nbConges ~ ' jours </strong> de congés à poser.' : 'Vous n\'avez plus de jours à poser.')|raw }}
							</p>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for absence in app.user.absences %}
											<tr>
												<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
												<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
												<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }}
													{{ absence.statut == 'Validée' ? "class='table-success'" : '' }}
													{{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
												</td>
												<td>
													<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
													<a class='badge badge-info' href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('absences_new') }}" class="btn bgc-pink rounded-pill float-right">
							Signaler une absence
						</a>
					</div>
				</div>
			</div>
			{# Seconde vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-2">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Liste des absences
							</h6>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for i, absence in absences %}
											{% if i >= absences|length - 2 %}
												<tr>
													<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
													<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
													<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }}
														{{ absence.statut == 'Validée' ? "class='table-success'" : '' }}
														{{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
															{{ absence.statut }}
													</td>
													<td>
														<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
														<a class='badge badge-info' href="{{ path('absences_validation', {'id': absence.id}) }}">Valider</a>
													</td>
												</tr>
											{% endif %}
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('absences_index') }}" class="btn bgc-pink rounded-pill float-right">
							Valider un congé
						</a>
					</div>
				</div>
			</div>
		</div>  
	{% endif %}

	{% if (app.user.roles[0] == 'ROLE_RH') %}
		<div
			class="row">
			{# Première vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-5">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Mes absences
							</h6>
							<p>
								{{ (app.user.nbConges|number_format > 0 ? 'Il vous reste <strong>' ~ app.user.nbConges ~ ' jours </strong> de congés à poser.' : 'Vous n\'avez plus de jours à poser.')|raw }}
							</p>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for absence in app.user.absences %}
											<tr>
												<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
												<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
												<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }}
													{{ absence.statut == 'Validée' ? "class='table-success'" : '' }}
													{{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
												</td>
												<td>
													<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
													<a class='badge badge-info' href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('employe_absences_new') }}" class="btn bgc-pink rounded-pill float-right">
							Signaler une absence
						</a>
					</div>
				</div>
			</div>
			{# Seconde vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-2">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Liste des absences
							</h6>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for i, absence in absences %}
											{% if i >= absences|length - 2 %}
												<tr>
													<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
													<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
													<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }} {{ absence.statut == 'Validée' ? "class='table-success'" : '' }} {{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
													</td>
													<td>
														<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
														<a class='badge badge-info' href="{{ path('absences_validation', {'id': absence.id}) }}">Valider</a>
													</td>
												</tr>
											{% endif %}
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('absences_index') }}" class="btn bgc-pink rounded-pill float-right">
							Valider un congé
						</a>
					</div>
				</div>
			</div>
		</div>  
	{% endif %}

	{% if (app.user.roles[0] == 'ROLE_MANAGER') %}
		<div class="row">
			{# Première vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-5">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Mes absences
							</h6>
							<p>
								{{ (app.user.nbConges|number_format > 0 ? 'Il vous reste <strong>' ~ app.user.nbConges ~ ' jours </strong> de congés à poser.' : 'Vous n\'avez plus de jours à poser.')|raw }}
							</p>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for absence in app.user.absences %}
											<tr>
												<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
												<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
												<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }}
													{{ absence.statut == 'Validée' ? "class='table-success'" : '' }}
													{{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
												</td>
												<td>
													<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
													<a class='badge badge-info' href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('employe_absences_new') }}" class="btn bgc-pink rounded-pill float-right">
							Signaler une absence
						</a>
					</div>
				</div>
			</div>
			{# Seconde vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-2">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Liste des absences
							</h6>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for i, absence in absencesService %}
											{% if i >= absences|length - 2 %}
												<tr>
													<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
													<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
													<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }} {{ absence.statut == 'Validée' ? "class='table-success'" : '' }} {{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
													</td>
													<td>
														<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
														<a class='badge badge-info' href="{{ path('absences_validation', {'id': absence.id}) }}">Valider</a>
													</td>
												</tr>
											{% endif %}
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('absences_index') }}" class="btn bgc-pink rounded-pill float-right">
							Valider un congé
						</a>
					</div>
				</div>
			</div>


		</div> 
	{% endif %}

	{% if (app.user.roles[0] == 'ROLE_EMPLOYE') %}

		<div class="row">
			{# Première vignette #}
			<div class="col-md-12 col-lg-12 p-2 pt-5">
				<div class="card">
					<div class="flexCard">
						<div class="card-body cardBody">
							<h6 class="card-title">
								Mes absences	
							</h6>
							<p>
								{{ (app.user.nbConges|number_format > 0 ? 'Il vous reste <strong>' ~ app.user.nbConges ~ ' jours </strong> de congés à poser.' : 'Vous n\'avez plus de jours à poser.')|raw }}
							</p>
							<p>
								<table class="table table-bordered table-striped">
									<thead class='thead-dark'>
										<tr>
											<th>Date debut</th>
											<th>Date retour</th>
											<th>Statut</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for absence in app.user.absences %}
											<tr>
												<td>{{ absence.dateDebut ? absence.dateDebut|date('d-m-Y') : '' }}</td>
												<td>{{ absence.dateRetour ? absence.dateRetour|date('d-m-Y') : '' }}</td>
												<td {{ absence.statut == 'En attente' ? "class='table-warning'" : '' }}
													{{ absence.statut == 'Validée' ? "class='table-success'" : '' }}
													{{ absence.statut == 'Rejetée' ? "class='table-danger'" : '' }}>
														{{ absence.statut }}
												</td>
												<td>
													<a class='badge badge-info' href="{{ path('absences_show', {'id': absence.id}) }}">Détails</a>
													<a class='badge badge-info' href="{{ path('absences_edit_employe', {'id': absence.id}) }}">Modifier</a>
												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">Aucune absence</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</p>
						</div>
					</div>
					<div class="card-footer cardFooter">
						<a href="{{ path('employe_absences_new') }}" class="btn bgc-pink rounded-pill float-right">
							Signaler une absence
						</a>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

		</div>

{% endblock %}
