{% extends 'base.html.twig' %}

{% block title %}Absences
{% endblock %}

{% block body %}
<div class="container-fluid col-10 col-lg-8 mr-auto ml-auto col-sm-6  p-0 bodyindex">
	<h1>Absences</h1>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<th>Employé</th>
				<td>{{ absence.employe.nom|capitalize ~ ' ' ~ absence.employe.prenom|capitalize }}</td>
			</tr>
			<tr>
				<th>Date debut</th>
				<td>{{ absence.dateDebut ? absence.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date retour</th>
				<td>{{ absence.dateRetour ? absence.dateRetour|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ absence.statut }}</td>
			</tr>
		</tbody>
	</table>

	<a class='btn btn-primary' href="{{ path('absences_index') }}">Retour à la liste</a>

	<a class='btn btn-secondary' href="{{ path('absences_edit', {'id': absence.id}) }}">Modifier</a>


	{{ include('absences/_delete_form.html.twig') }}</div>
{% endblock %}
